.client {
    border: 1px solid #3497DE;
    border-radius: 10px;
    margin: 10px auto;
    min-width: 300px;
    max-width: 340px;
    background: #EBF7FF;

    h2 {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #d6efff;
        border-radius: 10px;
        width: 90%;
        margin: 10px auto;
        padding: 5px;
    }

    .client-data {
        text-align: left;
        padding: 0 10px;

        .client-right {
            text-align: right;
        }


        .client-name {
            text-align: center;
            background: white;
            padding: 10px;
            border-radius: 8px;

        }

        .client-email {
            text-align: center;
            background: white;
            padding: 10px;
            border-radius: 8px;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                margin: 10px 0;
                padding-bottom: 5px;
                height: auto;
                border-radius: 5px;
                max-width: 100%;
                background-color: white;
            }

        }

        .client-actions {
            display: flex;
            justify-content: space-between;
            background-color: #d6efff;
            border-radius: 10px;
            width: 98%;
            margin: 10px auto;
            padding: 5px;

            a {
                display: flex;
                align-items: center;
            }
        }
    }
}