nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
  
    a {
        text-decoration: none;
        padding: 20px 0 20px 0;
        width: 30%;

        .nav-links {
            color: #2B93DD;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }
    }

    .nav-links:hover {
        color: rgb(150, 112, 255);   
        font-size: larger;
    }

    .active {
        transition: all ease-in-out 0.8s;
        border-bottom: 15px solid white;
        border-top: 15px solid white;
        margin: -20px 0 -20px 0;
    }
    .active:hover {
        font-weight: lighter;
        transition: all ease-in-out 0.8s;
        .nav-links {
            color:black;    
        }
    }
}

@media (max-width: 750px) {
    nav {
        border-top: none;
        border-bottom: none;        
        width: 100%;
        a {
            .nav-links {
                font-size: 17px;

            }
        }
        .active {
            border-bottom: none;
            border-top: none;
            margin: 0;
        }
    }
}
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        height: auto;

        a {
            padding: 20px 0 20px 0;
            width: 100%;
            border-bottom: 1px solid black;

            .nav-links {
                font-size: 15px;
                justify-content: space-between;
                margin: 0 20px;
            }
        }
        .active {
            background-color: #bde3fe;
            opacity: 0.8;
            width: 100%;
        }
    }
}