
@media screen and (max-width: 640px) {
    .footer {
        padding: 10px;
        .logoFooter {
            img {
                width: 80%;
            }
            display: flex;
        }       
    }
}
@media screen and (max-width: 375px) {
    .footer {
        .logoFooter {
            img {
                width: 100%;
            }
            
        }       
    }
}