.footer {
    margin-top: 100px;
    background: black;
    padding: 20px;
    
    color: white;
    a {
        color: rgb(167, 167, 167);
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 120px;
    }

    a:hover{
        color: white;
    }
    ul {
        margin: 0;
        padding: 0;
        text-align: left;
        list-style-type: none;
     
    }
    .nav-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .logofooter {
        width: 30%;
        
    }
    
    h6 {
        font-size: 17px;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        padding: 10px;
        .logoFooter {
            img {
                width: 80%;
            }
            
        }       
    }
}
@media screen and (max-width: 375px) {
    .footer {
        .logoFooter {
            img {
                width: 100%;
            }
            
        }       
    }
}