.register {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;

    h2 {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .register {
        padding: 0;
     
    }
}